$mainColor: #6fa457;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.grid {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;

  @media (max-width: 1028px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;

  &-image {
    width: 100%;
    height: auto;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1rem;

    &-body {
      text-align: justify;
    }

    &-published {
      align-self: flex-end;
      &__text {
        font-weight: bold;
      }
      &__date {
        color: $mainColor;
      }
    }

    &-button {
      width: 100%;
      background: $mainColor;
      color: white;
      border: none;
      padding: 0.5rem 0.75rem;
      font: inherit;
      cursor: pointer;
      outline: inherit;

      &:hover {
        background: lighten($mainColor, 10%);
      }
    }
  }
}
