.box {
  border-radius: 10px;
}

.base {
  background-color: blue;
}

.important {
  background-color: darkblue;
}

.warning {
  background-color: lightblue;
}

.font-main {
  font-family: "Lora", serif;
}

.font-secondary {
  font-family: "Merriweather", serif;
}

.shadow {
  box-shadow: 10px 10px 10px gray;
}
