.base {
  background-color: red;
}

.important {
  background-color: brown;
}

.warning {
  background-color: rosybrown;
}

.font-main {
  font-family: "Domine", serif;
}

.font-secondary {
  font-family: "Roboto", sans-serif;
}

.shadow {
  box-shadow: -10px 10px 10px gray;
}
